-# サイドバー
.saide-bar
  -# サイドバーのヘッダー
  .saide-bar__header
    -# ヘッダーの項目
    .saide-bar__header__top-items
      -# 項目の名前（投稿者名）
      .saide-bar__header__top-items__name
        = current_user.name
      -# 項目のアイコン
      .saide-bar__header__top-items__icons
        = link_to new_group_path, class: "saide-bar__header__top-items__icons__new-btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "saide-bar__header__top-items__icons__setting-btn" do
          = icon('fas', 'cog')
  -# グループリスト
  .saide-bar__group-list
    - current_user.groups.each do |group|
      -# グループ情報      
      = link_to group_messages_path(group),class:"saide-bar__group-list__group-status" do
        -# グループ名
        .saide-bar__group-list__group-status__group-name 
          = group.name
        -# グループからのメッセージ
        .saide-bar__group-list__group-status__group-message
          = group.show_last_message

